@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html lang="en">

<ul class="row d-flex align-items-center justify-content-around flex-wrap">
    @if (SignInManager.IsSignedIn(User) && (@User.Identity.Name.Contains ("Admin")))
    {

    
        <div class="col-3">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
        
        <div class="categories">
            <div class="row">
        <div class="col-3">
            <a class="nav-link text-dark" asp-controller="Doctors" asp-action="Index" title="Manage">Doctors</a>

        </div>
           </div>
        </div>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ContraIndications" asp-action="Index" title="Manage">ContraIndications</a>
        </li>


         <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ActiveEngredients" asp-action="Index" title="Manage">ActiveEngredients</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Contents" asp-action="Index" title="Manage">Contents</a>
        </li>

        

        

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="patients" asp-action="Index" title="Manage">patients</a>
        </li>


    

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Phamacies" asp-action="Index" title="Manage">Phamacies</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Phamacists" asp-action="Index" title="Manage">Phamacists</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="MedicalPractices" asp-action="Index" title="Index">Medical Practices</a>
        </li>

        

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Medications" asp-action="Index" title="Index">Medications</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Interactions" asp-action="Index" title="Index"> Medication Interactions</a>
        </li>
    }
    //2nd condition//
  else if (SignInManager.IsSignedIn(User) && (@User.Identity.Name.Contains ("Doctor")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>

        <li class="flex">
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Search here..">
        <input type="submit" name="submit" class="search-btn" value="Search">
    </form>
       
    </li>
          
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Prescriptions" asp-action="Index" title="Manage">Prescriptions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Phamacies" asp-action="Index" title="Manage">Phamacies</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Phamacists" asp-action="Index" title="Manage">Phamacists</a>
        </li>

    }
//3RD CONDITION 
else if (SignInManager.IsSignedIn(User) && (@User.Identity.Name.Contains ("Patient")))
    {
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </div>
        <div
        class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>

       <div class ="nav-item">
            <a class="nav-link text-dark" asp-controller="Prescriptions" asp-action="Index" title="Manage">Prescriptions</a>
        </div>

         <div class="nav-item">
            <a class="nav-link text-dark" asp-controller="MedicalHistory" asp-action="Index" title="Manage">MedicalHistory</a>
        </div>
       
    }
    
                    

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
