@model IEnumerable<hmsAPI2.Models.Phamacy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhamacyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsiblePharmacist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhamacyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsiblePharmacist)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhamacyName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhamacyName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhamacyName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
