@model IEnumerable<hmsAPI2.Models.Medication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveEngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strengths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContraIndicationR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveEngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strengths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContraIndicationR)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
