@model IEnumerable<hmsAPI2.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorQualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorPracticeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorHCRN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorPracticeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorHCRN)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
