@model hmsAPI2.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allegies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allegies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chronic_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chronic_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIAGNOSIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIAGNOSIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATE_DIAGNOSED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATE_DIAGNOSED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MEDICATION_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MEDICATION_NAME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
