@model hmsAPI2.Models.Prescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepeatsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepeatsLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dispenser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dispenser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrescriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
