@model IEnumerable<hmsAPI2.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepeatsLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dispenser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatsLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispenser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
